version: '3.8'

services:
  
  db:
    image: postgres:14-alpine
    container_name: postgres_db
    restart: always
    environment:
    
      POSTGRES_DB: produtordb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
     
      - "5433:5432"
    volumes:
      
      - postgres_data:/var/lib/postgresql/data


  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: produtor_rural_app
    restart: always
    ports:

      - "8080:8080"
    depends_on:
  
      - db
    environment:
  
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/produtordb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_HIBERNATE_DDL_AUTO: update


volumes:
  postgres_data:
